#root{
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  overflow-y: scroll;
}
.container{
  padding-top: 100px;
}

.drink-card{
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.card-content{
  height: 100%;
  width: 100%;
  border: 5px solid #23cf5f;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color:white;
}

.card-top{
  display: flex;
  height: 70%;
  width: 100%;
}

.card-info{
  width: 50%;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.card-info h2{
  margin-top: 30px;
  font-size: 40px;
  color:  #23cf5f ;
}

.card-top img{
  width: 100%;
  height: 340px;
  border-radius: 10px;
}

.card-content p{
  max-width: 80%;
  font-size: 20px;
}

.card-img{
  width: 50%;
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar a{
  font-size: 30px;
  color: #23cf5f;
  margin-right: 10px;
}

.banner{ 
  height:300px;
  width:100%;
  border: 1px solid white;
  display: flex;
  margin-bottom: 50px;
  overflow-x: scroll;
}


.item img{
  width: 300px;
}
h1,h2{
  color: white;
}
.navbar-brands{
  width: 100%;
  height:100%;
  display: flex;
  align-items: center;
}