.container{
  margin-top: 100px;
}

.drink-card{
  height: 350px;
  width: calc(90% / 3);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-content{
  height: 200px;
  width: 80%;
  border: 1px solid black;
}